* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
}

.page {
	min-height: 100vh;
	background-image: url('./assets/images/bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
}

.content {
	text-align: center;
	background-color: #fff;
	border-radius: 20px;
	padding: 32px 20px;
	color: #333;
	max-width: 350px;
	&__logo {
		width: 200px;
		height: 200px;
		margin: 0 auto 20px auto;
		border-radius: 50%;
		overflow: hidden;
		background-image: url('./assets/images/logo.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&__title {
		font-size: 26px;
		line-height: 32px;
		font-weight: bold;
		margin: 0;
		margin-bottom: 10px;
	}
	&__text {
		font-size: 16px;
		line-height: 25px;
		text-align: center;
		margin: 10px 16px 20px;
	}
	&__button {
		font-size: 16px;
		letter-spacing: 1.3px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		padding: 8px 17px;
		border: none;
		border-radius: 50px;
		background: #333;
		background: linear-gradient(to bottom, #444, #333);
		color: #ffffff;
		text-decoration: none;
		transition: background 0.25s ease-in;
		&:before {
			content: '\0000a0';
			display: inline-block;
			height: 24px;
			width: 24px;
			line-height: 24px;
			margin-right: 14px;
			position: relative;
			top: 0px;
			left: 0px;
			background-image: url('./assets/images/telegram.png');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		&:hover {
			background: linear-gradient(to bottom, #333, #444);
		}
	}
}
